

{% for post in posts %}

<div class="card-div mt-4 mb-2 ms-5">
    <div class="card p-2 border border-0 shadow-sm" style="width: 100%">
        <img src="{{post.imageURL}}"class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{post.title}}</p>

            <div class="btn-group border border-0" style="width: 100%;;" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-warning shadow-sm text-dark collapsed"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapse{{post.id}}" aria-expanded="false"
                    aria-controls="flush-collapseOne"><i class="fa-solid fa-comment"></i></button>
                
            {% if not request.user in post.likes.all %}
                <a href="{% url 'like-post' post.id %}" type="button" class="btn btn-outline-warning shadow-sm text-dark">{{post.likes}} <i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                {% else %}
              
                <a href="{% url 'like-post' post.id %}" type="button" class="btn btn-outline-warning shadow-sm text-dark">{{post.likes}} <i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
              {%endif%}
           
              
                
            </div>
            

            <!-- <-- comment section --> 
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <div id="flush-collapse{{post.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample" style=>

                        <form action="{% url 'add-comment' post.id %}" method="post">
                            {% csrf_token %}
                            <textarea name="comment" class="form-control" id="id_comment" cols="74" rows="5"></textarea>
                            <input type="submit" value="addcomment" class="btn btn-outline-warning">
                        </form>

                        {% for comment in post.comments %}
                        <div class="accordion-body bg-light m-1 mt-2">
                            <div class="">
                                <img src="images\dp.png" class="border rounded-circle me-2"
                                alt="" style="height: 40px" />
                                <p><small>@{{comment.user}}</small></p>
                                <p>{{comment.comment}}</p>
                                


                                    {% if comment.user == user %}
                                    <a href="{% url 'delete_comment' comment.pk %}"> Delete </a>
                                           
                                    {% endif %}
                            
                                <p><a href="#">
                                    <i class="fas fa-thumbs-up text-primary "></i>
                                    <span>{{ comment.liked.count}}</span>
                                  </a></p>
                                <p>
                                    <a href="#" class="text-muted small ms-3 me-2">
          
                                        {% if user in comment.liked.all %}
                                      <a href="{% url 'unlike_comment' comment.pk %}">Unlike</a>
                                  {% else %}
                                      <a href="{% url 'like_comment' comment.pk %}">Like</a>
                                  {% endif %}
                                 </p>
                          
                            </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- end of comment section -->

            

            
        </div>
    </div>
</div>

{% endfor %}
