{% extends 'base2.html' %}

{% block body_block %}
<div class="row mt-3">
    <div class="col-3">
        <div class="card" style="width: 18rem;" >
            <img src="../../../images/images.png" class="card-img-top" alt="...">
            <div class="card-body">
                <li class="admin-name">
                    <h5 style="color: black;white-space: nowrap; width: 110px; font-size: 27px;"><b>{{request.user}}</b><!--<i class="fa fa-check-circle" style="color: #48dbfb;" aria-hidden="true"></i>--></h5>
                    <ul>
                        <li>{{user.date_joined}}</li>
                        <li>{{user.last_login}}</li>
                        <li>{{user.email}}</li>
                    </ul>
                  </li>

           
            <a href="" class="btn btn-outline-success form-control mt-4 rounded-pill"> edit profile</a> -->
            </div>
            
        </div>


        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>

    <div class="col-5">

        {% for post in mypost %}
		<li>
        <h3>{{post.title}}</h3>
        <a class="strip" href="" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
        <img src="{{post.image.url}}" style="height: 250px; width: 300px;" alt=""></a>
        </li>
        {% if request.user is authenticated %}
                <a href="{% url 'deletepost' post.id %}" type="button" class="btn btn-outline-danger shadow-sm text-dark">{{post.posts}}  delete post </a>
                {% else %}
              
                <a href="{% url 'deletepost' post.id %}" type="button" class="btn btn-outline-danger shadow-sm text-dark">{{post.posts}} delete post </a>
              {%endif%}
        {% endfor %}

    </div>

  
</div>
        </div>
    </div>
</div>

{% endblock body_block %}